html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom css */
* {
    box-sizing: border-box;
} 
body {
    background-color: #282e2b;
	line-height: 1.5;
    font-family: 'Roboto Slab', serif;
}	
.container {
	max-width: 1090px;
	margin: 0 auto;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.heading {
	font-size: 46px;
	color: white;
	padding: 32px 0;
	text-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
.text-one {
	color: red;
	font-size: 24px;
	padding: 15px 0;
	font-family: 'Roboto Slab', serif;
	text-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
	vertical-align: middle;
}
.two {
	font-size: 24px;
	color: white;
	text-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
} 
.blockquote {
	margin: 50px;
}
.text {
	font-size: 20px;
	color: #a89d85;
	padding: 15px 0;
	font-family: 'Open Sans', sans-serif;
}